* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-weight: 500;
}
.nav-bar {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: .3px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 28px 0;
  border-bottom: 3px solid #ffffff; /* To stop the movement of i.e. resizing */
}
.nav-bar a:hover {
  border-bottom: 3px solid #f54e77;
}

.bold {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  color: rgb(126, 72, 126);
}
/* pre {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

span {
  font-size: 15px;
  font-weight: bold;
  color: rgb(159, 93, 235);
  text-decoration: underline;
}
.spanB {
  font-size: 25px;
  font-weight: bold;
  color: rgb(228, 117, 228);
  text-decoration: underline;
}
footer{
  width: 100%;
  /* border-top: 2px solid #282c3f; */
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: #b6677b;
}

.image{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center{
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


































